/* Add these styles to your existing CSS file or create a new one */

.crypto-section {
    background-color: #c11515; /* Set a background color for the section */
    padding: 10px;
    max-width: 800px; /* Set your desired maximum width */
    height: 100%; /* Set height to 100% */
    margin: auto; /* Center the section horizontally */
  }
  
  .crypto-header p {
    font-size: 118px;
    opacity: 0.8;
  }
  
  /* Add any other styles as needed for your design */