.class-wrap {
    background-color: #35bcbf; /* Set your desired background color */
    padding: 7px; /* Adjust padding as needed */
    border-radius: 8px; /* Add border-radius for rounded corners */
    transition: transform 0.3s ease-in-out;
    text-decoration: none;

    border: 4px solid #343a40; /* Set your desired border color */
    border-style: /* Set your desired border style (dashed, solid, etc.) */
  }
  
  .class-text {
    border: 3px solid #343a40; /* Set your desired border color */  

}

.class-wrap, .class-text {
    margin: 0;
    padding: 0;
    border: none;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    
    /* ... other styles */
  }

  .class-img img {
    width: 100%;
    height: auto;
    text-decoration: none;
  }
  

.class-wrap:hover {
  transform: scale(1.);
  border: 2x solid #35bcbf; /* Adjust border color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a shadow */
  text-decoration: none;
}