.class-wrap {
    background-color: #35bcbf; 
    padding: 7px; 
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    text-decoration: none !important;

    border: 4px solid #343a40; 
    border-style:
  }
  
  .class-text {
    border: 3px solid #343a40;   
    text-decoration: none !important;

}

.class-wrap, .class-text {
    margin: 0;
    padding: 0;
    border: none;
    transition: transform 0.3s ease-in-out;
    text-decoration: none;
    
    
  }

  .class-img img {
    width: 100%;
    height: auto;
    text-decoration: none;
  }
  

.class-wrap:hover {
  transform: scale(1.);
  border: 2x solid #35bcbf; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  text-decoration: none !important
}
