/* table.css */


.table-frame {
  border: 2px solid #dee2e6;
  border-radius: 0.5rem; /* Adjust the border-radius for round corners */
  overflow: hidden;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
  border-collapse: collapse;
  font-size: 14px; /* Adjust the font size */
}
.table th, .table td {
  padding: 0.75rem; /* Adjust the padding */
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #0e3d6c;
}

.table a {
  color: cyan;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

.table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.table img {
  width: 1rem; /* Adjust the width */
  height: 1rem; /* Adjust the height */
  margin-right: 0.5rem; /* Add margin for spacing if needed */
}

.table svg:hover {
  fill: cyan;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

body {
  background-color: #00FFFF; /* Set your desired background color */
}