
.table-frame {
  border: #dee2e6;
  border-radius: 0.5rem; 
  overflow: hidden;
  width: 60%;
  margin: auto;
  margin-top: 20px;
}

/* about the titles */
.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #343a40;
  color: white;
  border-collapse: collapse;
  font-size: 14px; 
}

.table th, .table td {
  padding: 0.rem; 
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #0e3d6c;
}

.table a {
  color: cyan;
  text-decoration: none;
}

.table a:hover {
  text-decoration: underline;
}

.align-middle-name{
  color: cyan;
  font-weight: normal;
  transition: color 0.3s, font-weight 0.3s;
  
  &:hover {
    cursor: pointer;
    color: darkcyan;
    font-weight: bold;
  }
}

.cursor-pointer{
  color: cyan;
  font-weight: normal;
  transition: color 0.3s, font-weight 0.3s;
  
  &:hover {
    cursor: pointer;
    color: darkcyan;
    font-weight: bold;
  }
}

.table button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.table img {
  width: 1rem; 
  height: 1rem; 
  margin-right: 0.5rem; 
  cursor: pointer;
}

.table svg:hover {
  fill: cyan;
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

body {
  background-color: #00FFFF; 
}


/* Spinner */

.cool-box {
  border: 2px solid #343a40; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.spinner {
  margin-right: 8px; 
}

.text {
  font-size: 1rem; 
}


.text-coin {
  text-decoration: none; 
  color: inherit; 
  font-weight: 600;

  transition: color 0.3s ease;

  &:hover {
    text-decoration: none; 
    color: black; 
    font-weight: 900;
    transform: translateY(-5px) scale(1.2);
  }
}

.coin-info {
  font-weight: 500;
}
