.section-header.text-left {
    margin-top: 300px;
    margin: auto; 
}
.about-text.error {
	text-align:center;
    margin-top: 130px;
    margin-bottom: 130px;
}

.about-text .btn {
    margin-top: 100px !important; 
    color: #ffffff !important;
    padding: 1x 20px; 
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s; 
}

.about-text .btn:hover {
    background-color: #11999e !important; 
}