.trending {
    width: 100%;
    height: 30rem;
    margin-bottom: auto;
    background-color: #225763;
  }

  /* title */


.card-title {
  position: absolute;
  background-color: #246371 !important;
  border-radius: 1.5em;
  min-width: 400px;
  max-width: 1170px;
  width: 20%;
  padding: 2.6em 3.8em;
  cursor: pointer;
  top: 40%;
  transform: translate(-50%, -50%);
  left: 60%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1), 
    0 32px 32px rgba(0, 0, 0, 0.15),
    0 64px 64px rgba(0, 0, 0, 0.15);

    
}

.card-title h1 {
    font-size: 50px; 
    color: #1BFFFF; 
  }

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 7s infinite;
  font-weight: bold;
  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

/* 
image container */

.image-container {
  
}

.image {
  width: 200px !important;
  height: 200px !important;
  margin-top: 5rem !important;
  margin-left: 11rem !important;

}
