@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Teko:wght@500&display=swap');




/* Comment section  */

.comment {
    background: #41506b;
    border: 1px solid #2fe3e7; /* Change border color to match the label color */
    border-radius: 10px;
    padding: 9px; /* Add padding for spacing inside the comment box */
    margin-bottom: 7px; /* Add margin to separate comments */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add subtle box shadow for depth */

  }
.comment p.text {
    font-size: 13px;
    word-break: break-all; /* Break words when needed to prevent overflow */}

h6.user {
    color: #2fe3e7;
    font-size: 15px !important;
    padding-left: 15px !important;
    margin-bottom: 0;
}

p.text {
    margin-bottom: 0;
    color: #2fe3e7 !important;
    font-size: 13px;
}


@media screen and (min-width: 576px) {
    .comment {
        width: 470px !important;
        margin-left: -80px;
    }
}

/* input section  */

.create-comment {
    background-color: #41506b;
    padding: 15px; /* Add some padding for spacing */
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    width: 467px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-left: -66px !Important;

    &:hover {
      box-shadow: 0 5px 20px rgba(0,0,0,.8);
      transform: translateY(-10px) scale(1.02);
      .entry-title{
        background-position: -100% 0;
      } 
    }
  }
  
  .comment-label {
    font-size: 14px; /* Make the label text smaller */
    color: #2fe3e7; /* Set label text color */

  }
  
  .comment-form {
    margin-top: 10px; /* Add some top margin to separate the label and the form */
  
  }
  
  .comment-textarea {
    width: 100%; /* Make the textarea full width */
    padding: 10px; /* Add padding to the textarea */
    margin-bottom: 10px; /* Add some bottom margin for spacing */
    background: rgba(255, 255, 255, 0);
    border: 1px solid #ccc;
    padding-left: 15px;
    border-radius: 20px;
    font-size: 16px;
    color:#2fe3e7;
    
    resize: vertical; /* Allow vertical resizing of the textarea */
  
  
  }
  
  .comment-textarea:focus {
    outline: none; /* Remove the default focus outline */
    transition: all 0.3s ease;
    border-color: #1BFFFF; /* Change the border color when focused if needed */
  }
  .comment-btn {
  
    height: 45px;
    margin: 30px 2;
    margin-left: 120px;
   border-radius: 25px;
   border: none;
   color: #fff;
   font-size: 15px;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(to right, #3b3e93 , #1BFFFF);
  }
  
  .comment-btn:hover {
    background:#1BFFFF;
	color:#211323;
    transition: all 0.7s ease;
  }

  /* Comments title */

  h1 {   
    
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin-bottom: 6px;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  
  .seven h1 {

        margin-left: -30px;
        font-size:30px; font-weight:300; color:#222; letter-spacing:3px;
        text-transform: uppercase;
    
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: 27px 0;
        grid-gap: 30px;
        align-items: center;
    }
    
    .seven h1:after,.seven h1:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #41506b;
        border-top: 1px solid #41506b;
        height: 5px;
        background-color:#41506b;
    }
    

    /* No comment */

    .no-comment {
      background-color: #41506b;
      padding: 15px; /* Add some padding for spacing */
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
      width: 467px;
      font-size: 16px;
      transition: all 0.3s ease;
      margin-left: -79px !Important;
      color: #1BFFFF;
      text-align: center;
    }

    /* Need to login to comment  */

    .login-link-log {
      padding-bottom: 20px;
      color: #080808;
      font-size: 16px; /* Adjust the initial font size */
      transition: color 0.3s ease, text-shadow 0.3s ease, font-size 0.3s ease; /* Added transitions */
  }
  
  .login-link-log:hover {
      color: #080808df;
      text-decoration: none;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Added text shadow */
  }