.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 150px 0 90px 0;
    text-align: center;
    background: #35bcbf;
}

.page-header h2,
.page-header a {
    color: black;
}

.page-header a:hover {
    
    color: #555; 
}

.page-header a:hover {

    text-decoration: none;
    color: #555; 
}