@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Teko:wght@500&display=swap');


.submit.login.details {

	margin-left:0px;
}
.submit.login.details  a{
	color:white;
}

.single-content img {
    max-width: 70%; 
    max-height: 450px; 
    display: block; 
    margin: auto; 
    margin-left: 60px;
    margin-top: 40px;
    border-radius: 10px;
    transition: .8s ease;

    &:hover {
      box-shadow: 0 5px 20px rgba(0,0,0,.8);
      transform: translateY(-10px) scale(1.02);
      .entry-title{
        background-position: -100% 0;
      } 
    }
  }

/* NFT DETAILS */

.nft-details {

  width: 71%;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 58px;
  background: #41506b;
  padding-left: 15px;
  border-radius: 20px;
  font-size: 16px;
  color: #2fe3e7;
  transition: 0.3s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px) scale(1.01);
    .entry-title {
      background-position: -100% 0;
    }
  }
}

.details-row {
  display: flex;
  flex-wrap: wrap;
}

.col-lg-4 {
  order: 1;
}

.col-lg-5 {
  order: 2;
}

  
.nft-title{
  background-size: 200%;
  display: inline;
  transition: .5s ease-in-out;
  font-family: arial, sans-serif;
  text-transform: uppercase;
  color: #2fe3e7;
  text-shadow: 1px 0px 5px rgba(0,0,0,0.42);
  font-size: 25px;
}

.label {
  color:#ccc;
  font-weight: 500;
  text-shadow: 1px 0px 5px rgba(0,0,0,0.42);
  display: inline;
  font-size: 25px;
}

.created-label {
  color:#ccc;
  font-weight: 500;
  text-shadow: 1px 0px 5px rgba(0,0,0,0.42);
}

.blockchain-label {
  color:#ccc;
  font-weight: 500;
  text-shadow: 1px 0px 5px rgba(0,0,0,0.42);
}

.price-label {
  color:#ccc;
  font-weight: 500;
  text-shadow: 1px 0px 5px rgba(0,0,0,0.42);
}

.description-label {
  color:#ccc;
  font-weight: 500;
  text-shadow: 1px 0px 5px rgba(0,0,0,0.42);
  word-break: break-all; 
}

  .nft-details .category-widget {
    display: flex;
    flex-wrap: wrap; 
  }
  
  .nft-details .category-widget ul {
    list-style: none;
    padding: 0;
  }
  
  .nft-details .category-widget li {
    margin-bottom: 10px;
  }
  
  .nft-details .description-section {
    width: 200%; 
    word-break: break-all; 
  }
  
  /* Media query for larger screens to adjust the layout */
  @media (min-width: 768px) {
    .nft-details .description-section {
      width: 48%; 
      margin-top: -20px;
      margin-left: 0px; 
    }
  }


  /* Buttons EDIT DELETE */

  .author-btns {
    margin-top: 20px; 
    margin-right: 30px;
  }
  
  /* Styles for individual buttons */
  .submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #3b3e93 , #1BFFFF);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }
  
  .submit:hover {
    background:#1BFFFF;
    color:#211323;
  }

  .edit-btn{
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: radial-gradient(circle, #56698a, #41506b);
    border: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    text-decoration: none;
    margin-left: 140px;

    transition: 0.3s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px) scale(1.01);
    .entry-title {
      background-position: -100% 0;
    }
  }
  }
  .edit-btn:hover {
    text-decoration: none;
    color:#fff
  }

  .delete-btn{
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: radial-gradient(circle, #56698a, #41506b);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);

    transition: 0.3s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  &:hover {
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px) scale(1.01);
    .entry-title {
      background-position: -100% 0;
    }
  }
  }

  .delete-btn:hover {
    text-decoration: none;
    color:#fff
  }


