.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.contact .container {
    max-width: 900px;
}

.contact .contact-item {
    text-align: center;
    margin-bottom: 30px;
}

.contact .contact-item i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    font-size: 25px;
    color: #343148;
    margin-bottom: 15px;
    border: 1px solid #212529;
    border-radius: 50px;
}

.contact .contact-form input::placeholder {
    color: #999; 
}

.contact .contact-form textarea::placeholder {
    color: #999; 
}

.contact .contact-item h2 {
    font-size: 25px;
    font-weight: 700;
}

.contact .contact-form {
    position: relative;
}

.contact .contact-form input {
    height: 45px;
    padding: 15px;
    color: #2fe3e7;
    background: #41506b;
    border: 2px solid #212529;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 0;
}

.contact .contact-form textarea {
    height: 150px;
    padding: 15px;
    color: #2fe3e7;
    background:#41506b;
    border: 2px solid #212529;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 0;
}

.contact .contact-form .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #343148;
    border-radius: 0;
    transition: .2s;
}

.contact .contact-form .btn:hover {
    color: #ffffff;
    background: #11999e;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #2fe3e7;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: rgba(255, 255, 255, 0);
}
	