/* filters.css */

.container-filters {
  margin-top: 2rem;
}

.filters-container {
  border: 2px solid #dee2e6;
  border-radius: 0.5rem; /* Increased border-radius for rounded corners */
  overflow: hidden;
  margin: auto;
  width: 60%; /* Decreased width to make it smaller */
  margin-top: 20px;
  background-color: #1c1c1c;
  color: white;
  padding: 10px; /* Decreased padding to make it smaller */
}

.sort-label {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.sort-label span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.sort-select {
  width: 200px; /* Decreased width of the select */
}
/* filters.css */

.container-filters {
  margin-top: 1.5rem;
}

.filters-container {
  border: 2px solid #dee2e6;
  border-radius: 0.5rem; /* Increased border-radius for rounded corners */
  overflow: hidden;
  margin: auto;
  width: 60%; /* Decreased width to make it smaller */
  margin-top: 20px;
  background-color: #1c1c1c;
  color: white;
  padding: 10px; /* Decreased padding to make it smaller */
}

.sort-label {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.sort-label span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.sort-select {
  width: 200px; /* Decreased width of the select */
}
