.text-coin {
    text-decoration: none; 
    color: inherit; 
  
    transition: color 0.3s ease;
  
    &:hover {
      text-decoration: none; 
      color: black; 
      transform: translateY(-5px) scale(1.2);
    }
  }

  .carousel-caption > h3 {

    color: #00FFFF; 
    font-size: 50px; 
  }
